* {
    all: unset;
    font-family: sans-serif;
    font-size: 12;
}

.control-center {
    background: rgba(5,5,5,0.8) ;
    

    border-radius: 18px;
    padding: 18px;

    border: 2px solid rgb(0,0,0);
}


.widget-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.widget {
    margin-bottom: 14px;
}

scale slider {
    min-height: 6px;
    border-radius: 999px;
    background: rgba(255,255,255,0.15);
}

scale highlight {
    background: #89b4fa;
    border-radius: 999px;
}

button {
    background: rgba(255,255,255,0.08);
    border-radius: 12px;
    padding: 10px;
}

button:hover {
    background: rgba(255,255,255,0.14);
}

.notification {
    background: rgba(0,0,0,0.5) ;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 8px;
    border : 1px solid rgba(0,0,0,1);
    font-size: 13px;
}

